html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
* {
    margin:  0;
    padding: 0;
    }
body {
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color:hsl(47, 88%, 63%);
}
h2,p{
    margin: .625em 0 .625em 0;
}
img{
    justify-self: center;
    margin: .625em 0 1.25em 0;
    border-radius: .625em;
}
.container{
    display: grid;
    max-width: 25em;
    max-height: 37.5em;
    padding: 1.25em;
    background-color: hsl(0, 0%, 100%);
    border: thin solid;
    border-right: .55em solid;
    border-bottom: .55em solid;
    border-radius: 1.25em;
}
.figtree-text {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .figtree-bold {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
.profile{
    display: flex;
    gap: .9375em;
    margin-top: .625em;
}
.profile-picture{
    width: 2em;
    height: 2em;
    margin-top: 0;
}
#learning{
    max-width: 10ch;
    padding: .625em;
    background-color: hsl(47, 88%, 63%);
    margin: .625em 0 .625em 0;
    border-radius: .625em;
}
#name{
    margin-top: .3125em;
}
#description{
    max-width: 41ch;
    color: hsl(0, 0%, 50%);
    line-height: 1.5em;
}